.input-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.app {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

input {
  border: 1px solid #000000;
  padding: 10px;
  margin: 10px 0 10px 0;
}

/* .radiobuttongroup {
  margin: 100px;
  padding: 100px;
} */

.radiobuttongroup {
  display: flex;
  flex-direction: column;
}

/* .radiobuttongroup label {
  margin-right: 10px;
} */

input[type='radio'] {
  margin-right: 10px;
}
